# FlascDataFrame

FlascDataFrame....

In [1]:
import numpy as np
import pandas as pd

from flasc.flasc_dataframe import FlascDataFrame

## Generate synthetic data

In [2]:
# Suppose the we have a 3 turbine farm with turbines names 'TB01', 'TB02', 'TB03'
# For each turbine we have power, wind speed and wind direction data
# Assume that in the native data collection system,
# the signal names for each channel are given below

N = 20  # Number of data points

# Wind speeds
wind_speed_TB01 = np.random.rand(N) + 8.0
wind_speed_TB02 = np.random.rand(N) + 7.5
wind_speed_TB03 = np.random.rand(N) + 8.5

# Wind directions
wind_dir_TB01 = 10 * np.random.rand(N) + 270.0
wind_dir_TB02 = 10 * np.random.rand(N) + 270.0
wind_dir_TB03 = 10 * np.random.rand(N) + 270.0

# Power
power_TB01 = wind_speed_TB01**3
power_TB02 = wind_speed_TB02**3
power_TB03 = wind_speed_TB03**3

# Time
time = np.arange(N)

In [3]:
# Add this data to a pandas dataframe
df = pd.DataFrame(
    {
        "time": time,
        "wind_speed_TB01": wind_speed_TB01,
        "wind_speed_TB02": wind_speed_TB02,
        "wind_speed_TB03": wind_speed_TB03,
        "wind_dir_TB01": wind_dir_TB01,
        "wind_dir_TB02": wind_dir_TB02,
        "wind_dir_TB03": wind_dir_TB03,
        "power_TB01": power_TB01,
        "power_TB02": power_TB02,
        "power_TB03": power_TB03,
    }
)

## Add to FlascDataFrame

In [4]:
# Declare a name_map dictionary to map the signal names to the turbine names
name_map = {
    "time": "time",
    "wind_speed_TB01": "ws_000",
    "wind_speed_TB02": "ws_001",
    "wind_speed_TB03": "ws_002",
    "wind_dir_TB01": "wd_000",
    "wind_dir_TB02": "wd_001",
    "wind_dir_TB03": "wd_002",
    "power_TB01": "pow_000",
    "power_TB02": "pow_001",
    "power_TB03": "pow_002",
}

In [5]:
## Declare an instance of FlascDataFrame
fdf = FlascDataFrame(df, name_map=name_map)

fdf.head()

,time,ws_000,ws_001,ws_002,wd_000,wd_001,wd_002,pow_000,pow_001,pow_002
0,0,8.764502,8.157309,9.307117,275.810165,276.755093,272.444566,673.258291,542.801206,806.204968
1,1,8.450410,8.452772,8.535425,275.299285,274.063929,271.070424,603.438938,603.945117,621.835407
2,2,8.668215,7.654708,8.733668,275.228593,275.422351,273.983654,651.311896,448.524130,666.177672
3,3,8.030583,8.434888,8.868566,277.248916,275.195408,278.022614,517.894491,600.119784,697.525638
4,4,8.069736,7.815417,9.014511,273.859713,279.687027,276.033408,525.506343,477.371464,732.531900

In [6]:
## Illustrate transformation back to user names
fdf.convert_to_user_format().head()

,time,wind_speed_TB01,wind_speed_TB02,wind_speed_TB03,wind_dir_TB01,wind_dir_TB02,wind_dir_TB03,power_TB01,power_TB02,power_TB03
0,0,8.764502,8.157309,9.307117,275.810165,276.755093,272.444566,673.258291,542.801206,806.204968
1,1,8.450410,8.452772,8.535425,275.299285,274.063929,271.070424,603.438938,603.945117,621.835407
2,2,8.668215,7.654708,8.733668,275.228593,275.422351,273.983654,651.311896,448.524130,666.177672
3,3,8.030583,8.434888,8.868566,277.248916,275.195408,278.022614,517.894491,600.119784,697.525638
4,4,8.069736,7.815417,9.014511,273.859713,279.687027,276.033408,525.506343,477.371464,732.531900

In [7]:
## Illustrate wide to long transformation
print(fdf._convert_wide_to_long().head())
print(fdf._convert_wide_to_long().tail())

FlascDataFrame in FLASC format
   time variable     value
0     0   ws_000  8.764502
1     1   ws_000  8.450410
2     2   ws_000  8.668215
3     3   ws_000  8.030583
4     4   ws_000  8.069736
FlascDataFrame in FLASC format
     time variable       value
175    15  pow_002  812.743716
176    16  pow_002  690.231480
177    17  pow_002  770.042469
178    18  pow_002  843.600158
179    19  pow_002  739.761434